[user]
{{ if contains "rammusxu" .chezmoi.hostname }}
        name = rammusxu-eslite
        email = rammusxu@eslite.com
{{ else }}
        name = RammusXu
        email = comte_ken@hotmail.com
{{ end }}

[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal

[credential]
        helper = osxkeychain
[pager]
        branch = false
[core]
        excludesfile = /Users/rammus/.gitignore_global
[commit]
        template = /Users/rammus/.stCommitMsg
