## docker
export HOME_BLOG={{ .chezmoi.homedir }}/workspace/rammusxu.github.io
alias docker-hexo='docker run --rm -e GIT_EMAIL="comte_ken@hotmail.com" -e GIT_NAME="Rammus Xu" -v "/Users/rammus/.ssh:/root/.ssh" -v ${HOME_BLOG}:/blog rammusxu/docker-hexo'
alias hexo='docker run -d --name hexo -p 4000:4000 -v ${HOME_BLOG}:/blog rammusxu/docker-hexo'
alias docker-debug="docker run -it --rm -v $PWD:/app alpine:3.11 sh"
alias docker-debug-image="docker run -it --rm -v $PWD:/app --entrypoint sh "

## Alias
alias k="kubectl"
alias ll="ls -lat"
alias git-clean='git branch --merged | egrep -v "(^\*|master)" | xargs git branch -d'
alias git-pr='git push -u origin HEAD && gh pr create -f'
alias git-pr-fork='git push -u rammus HEAD && gh pr create -f'
alias git-master='git checkout master && git pull'
