# Load .env, won't managed by chezmoi to avoid secrets leak
if [ -f "{{ .chezmoi.homeDir }}/.env" ]; then
    source "{{ .chezmoi.homeDir }}/.env"
fi

# Load common aliases
if [ -f "{{ .chezmoi.homeDir }}/.bash_alias" ]; then
    source "{{ .chezmoi.homeDir }}/.bash_alias"
fi

# Add common bin paths
export PATH=$HOME/bin:/usr/local/bin:/opt/homebrew/bin:$PATH

# rbenv initialization
export PATH="{{ .chezmoi.homeDir }}/.rbenv/bin:$PATH"
