{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
# Install/Update Brew packages
# Install Brew if not already installed
command -v brew || \
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo "==> 🍺 Running brew bundle..."
brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"
{{- end -}}