{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Install Brew
command -v brew || \
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Install packages
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "jq"
brew "hey"
brew "httpie"

brew "helm"
brew "k9s"
brew "k3d"

cask "google-chrome"
cask "iterm2"
cask "ngrok"
EOF
{{ end -}}
