{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Install Brew
command -v brew || \
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Install packages
brew bundle --no-lock --file=/dev/stdin <<EOF
# Taps (optional, if you use custom taps)
# tap "homebrew/cask-fonts"

# Formulae (command-line tools)
brew "git"
brew "jq"
brew "tree"
brew "htop"
brew "httpie"
brew "kubernetes-cli"
brew "kustomize"
brew "k9s"
brew "kubectx"
brew "helm"
brew "k3d"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "fzf"
brew "zoxide"
brew "bat"
brew "uv"
brew "terraform"
brew "gh"

# Casks (applications)
cask "google-chrome"
cask "docker"
cask "visual-studio-code"

EOF
{{ end -}}
