{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Install Brew
command -v brew || \
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Install packages
brew bundle --no-lock --file=/dev/stdin <<EOF
cask "google-chrome"
cask "iterm2"
cask "ngrok"
cask "visual-studio-code"
cask "authy"
cask "docker"
EOF
{{ end -}}
